/*colors
link:https://coolors.co/e1eff6-124a54-ffffff-a5d7f9-edae49

dark teal: #0e3b43 orr #124A54 (lighter)
very light blue: #E1EFF6
light blue: #A5D7F9
yellow(dark): #edae49

*/
body{
	background-color: #E1EFF6;
}

.header{
	position:fixed;
	width:100%;
	display: block;
/*	height: max-content;*/
	z-index:100;
/*	background-color: #edae49;*/
	right: 0px;
	top: 0px;
}
#top_banner{
	height: max-content;
	background-color: #edae49;
}
#menuIMG{
	position: absolute;
	display: inline-block;
	max-height: 30px;
	right:1vw;
	top: 1vw;
	cursor: pointer;
}
#logo{
	max-height: 62px;
	position: center;
	padding-left: 10px;
	padding-top: 4px;
}

.itemMenu a{
	float:right;

	display: block;
	padding: 10px 10px;

	background-color: #A5D7F9;
	text-decoration: none;
	font-family: Verdana, Arial, sans-serif;

	text-align: center;
	font-size: 70%;
	color: #ffffff;
	border-left: 3px solid #edae49;
	border-bottom: 3px solid #edae49;


}
.itemMenu:last-child{ /*gives rounded edge to last child to make edge of menu look rounded */
	a{
		border-bottom-left-radius: 4px;
	}
}
#menu {
  list-style-type: none;

  margin: 0;
  padding:0;
  top: 0;
  display: none;
}